<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="MailServer" value="" />
    <add key="MailUsername" value="" />
    <add key="MailPassword" value="" />
    <add key="MailFrom" value="" />
    <add key="EnableErrorLogEmail" value="false" />
    <add key="ErrorLogEmail" value="" />
    <add key="ProductsPerPage" value="6" />
    <add key="ProductDescriptionLength" value="30" />
    <add key="SiteName" value="GiftShop" />
  </appSettings>

  <connectionStrings>
    <add name="GiftShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=JOSHUA_DESKTOP;Initial Catalog=GiftShop;Persist Security Info=True;User ID=jdfosmark;Password=Corupt@14"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages theme="GiftShopDefault" />
    <customErrors mode="On" defaultRedirect="Error.aspx" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" />
  </system.web>

</configuration>
